tensorflow
pandas 
dvc
notebook
numpy
matplotlib
seaborn
python-box #we use box exception so we don't need to create exception module separately
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors

-e . #this setup.py helps to create my all folders as a local package(to install setup.py)